@import "base/_vars.scss";

.about{
    padding: clamp(1.875rem, 1.012rem + 3.68vw, 3.75rem) 0;
    &__inner{
        position: relative;
        &:before,
        &:after{
            content:"";
            position: absolute;
            filter: blur(280px);
            background: var(--color-blur);
            z-index: -1;
        }
        &:before{
            width: 943px;
            height: 948px;
            opacity: 0.5;
            right: -300px;
            top: -100px;
        }
        &:after{
            width: 579px;
            height: 582px;
            bottom: -200px;
            left: -100px;
        }
    }
    &__content{
        margin-bottom: clamp(1.875rem, 0.725rem + 4.91vw, 4.375rem);
    }
    &__title{
        @extend %title
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap:20px;
    }
    @media(max-width:960px){
        &__items{
            grid-template-columns: repeat(1,1fr);
        }
        
    }
    
}