@import "base/_vars.scss";

.footer{
    padding: 60px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        gap:15px;
    }
    &__protection,
    &__info{
        display: flex;
        flex-direction: column;
        gap:5px;
        a{
            color:$main-color;
        }
    }
    &__info{
        text-align: right;
    }
}